{% extends "base.html" %}

{% block content %}
    {% for each_map in wave_maps %}
        <div class="container mt-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>Map: {{ each_map['Map'] }}</h5>
                </div>
              <div class="card-body bg-secondary text-white">
                    <p>{{ each_map['Description'] }}</p>
                </div>
                <div class="card-footer bg-secondary text-white">
                   <p>Recommended amount of SPU gear - {{ each_map['SPU'] }}</p>
                    <br>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}